.text-white {
    color: white !important;
}

.card {
    border: 0;
    box-shadow: 0px 10px 30px 1px #00000033;
}

.table th, .table td {
    vertical-align: middle !important;
}

.input-hidden {
    background: none;
    border: 0;
    padding-left: 5px;
    z-index: 999;
}

.input-hidden:focus {
    background: white;
    border: 1px solid gray;
    outline: none;
}

input.input-hidden + .fa {
    margin-left: -20px;
}

input.input-hidden:focus + .fa {
    display: none
}

.success-msg {
    position: fixed;
    top: 10px;
    z-index: 99999;
    right: 10px;
    width: 300px;
    border: 0;
    box-shadow: 0px 10px 30px 1px #00000033;
}

img.greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}